<h2 mat-dialog-title>Add new user</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="First name" formControlName="firstName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last name" formControlName="lastName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Add</button>
</mat-dialog-actions>